@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 21px;
  text-shadow: 0 4px 4px rgba(25, 25, 25, 0.25);
  font-family: "Kameron", serif;
}

body {
  background-color: rgba(12, 12, 12, 0.805);
  background: url(./img/bg_mountain.jpg);
  background-size: cover;
}

body > * {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input::placeholder {
  text-align: center;
  opacity: 0.4;
  font-size: 1.5rem;
  height: 100%;
  color: #930cfb;
}

.control-button,
.start-button {
  color: #616161;
}

.control-button:hover {
  color: #740000;
  background-color: rgba(35, 35, 35, 0.746);
}

.control-plus {
  border-radius: 5;
}

.control-minus {
  border-radius: 5;
}

.start-button {
  box-shadow: 3px 6px 24px rgba(192, 202, 188, 0.196);
}

.start-button:hover {
  color: #57ba47;
  background-color: rgba(35, 35, 35, 0.746);
}

@media screen and (max-width: 600px) {
  .TodoListItembox {
    grid-template-columns: 1fr;
  }
}
