@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap");
@mixin centerAbsolute {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin gradient_blackish {
    /* ff 3.6+ */
    background: -moz-linear-gradient(
      180deg,
      rgba(61, 45, 0, 1) 0%,
      rgba(154, 33, 0, 1) 52%,
      rgba(37, 26, 0, 1) 99%
    );
  
    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(
      180deg,
      rgba(61, 45, 0, 1) 0%,
      rgba(154, 33, 0, 1) 52%,
      rgba(37, 26, 0, 1) 99%
    );
  
    /* opera 11.10+ */
    background: -o-linear-gradient(
      180deg,
      rgba(61, 45, 0, 1) 0%,
      rgba(154, 33, 0, 1) 52%,
      rgba(37, 26, 0, 1) 99%
    );
  
    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#251A00', endColorstr='#3D2D00', GradientType=1 );
  
    /* ie 10+ */
    background: -ms-linear-gradient(
      180deg,
      rgba(61, 45, 0, 1) 0%,
      rgba(154, 33, 0, 1) 52%,
      rgba(37, 26, 0, 1) 99%
    );
  
    /* global 94%+ browsers support */
}
@mixin gradient_dark{
  
    /* ff 3.6+ */
    background:-moz-linear-gradient(180deg, rgba(37, 18, 0, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(20, 0, 0, 1) 99%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(180deg, rgba(37, 18, 0, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(20, 0, 0, 1) 99%);

    /* opera 11.10+ */
    background:-o-linear-gradient(180deg, rgba(37, 18, 0, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(20, 0, 0, 1) 99%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#140000', endColorstr='#251200', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(180deg, rgba(37, 18, 0, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(20, 0, 0, 1) 99%);

    /* global 94%+ browsers support */
    background:linear-gradient(180deg, rgba(37, 18, 0, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(20, 0, 0, 1) 99%);
}
$bg_control_button:  rgba(35, 35, 35, 0.746);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 21px;
  box-shadow: 0 4px 4px #100e1277;
  text-shadow: 0 4px 4px rgba(25, 25, 25, 0.25);
  font-family: "Kameron", serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}


body {
  background-color: rgba(12, 12, 12, 0.805);
  & > * {
    margin: 0;
    padding: 0;
    // background-color: rgba(98, 98, 98, 0.16);
  }
  background: url(./img/bg_mountain.jpg);
  background-size: cover;
  .text-input {
    text-align: center;
    opacity: 0.4;
    font-size: 1.5rem;
    height: 100%;
    color: #b88cd9;
    &::placeholder{
      opacity: 0.2;
    }
  }
  .clock-container{
    &>*{
      box-shadow: none;
      text-shadow: none;
    }
    @include gradient_blackish; 
    .clock-input{
      color: red;
      background-color: rgba(35, 35, 35, 0.196);
      cursor: pointer;
      &:hover{
        background-color: $bg_control_button;
      }
    }

    .clock-durationbox{
      .clock-durationtext{
        box-shadow: none;
        text-shadow: none;
      }
    }
    @include gradient_dark;
  }
}
<<<<<<< HEAD
=======
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
input::placeholder {
  text-align: center;
  opacity: 0.4;
  font-size: 1.5rem;
  height: 100%;
  color: #930cfb;
}
>>>>>>> 865c305f2cbe324946efed833b336cb6062cf6bc
.control-button,
.start-button {
  color: #616161;
}
.control-button:hover {
<<<<<<< HEAD
  color: rgb(205, 0, 0);
  background-color: rgba(35, 35, 35, 0.196);
}
.control-plus {
  border-radius: 25px 0 0 0;
}
.control-minus {
  border-radius: 0 0 0 25px;
=======
  color: #740000;
  background-color: rgba(35, 35, 35, 0.746);
}
.control-plus {
  border-radius: 5;
}
.control-minus {
  border-radius: 5;
>>>>>>> 865c305f2cbe324946efed833b336cb6062cf6bc
}
.start-button {
  box-shadow: 3px 6px 24px rgba(192, 202, 188, 0.196);
}
.start-button:hover {
  color: rgb(87, 186, 71);
  background-color: rgba(35, 35, 35, 0.746);
}
<<<<<<< HEAD
.TodoListItembox {
  @media screen and(max-width:600px) {
=======
@media screen and (max-width:600px) {
  .TodoListItembox {
>>>>>>> 865c305f2cbe324946efed833b336cb6062cf6bc
    grid-template-columns: 1fr;
  }
}
